.link__btn {
   width: fit-content;
   height: 40px;
   background-color: transparent;
   border: 2px solid $color-border;
   border-radius: 1rem;
   color: $color-border;
   padding: 0;
   transition: background-color 0.7s ease-in-out;

   position: relative;
   z-index: 1;

   &:hover {
      background-color: $color-border;
      color: $color-background;
   }

   a {
      height: 100%;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.4rem;
      padding: 0 10px;
      text-decoration: none;

      display: flex;
      align-items: center;
   }
}

.link__btn--margin-r {
   margin-right: 1.5rem;
}

.link__btn--margin-l {
   margin-left: 1.5rem;
}