.home {
  width: 100vw;
  height: 100vh;

  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 992px) {
    width: 80vw;
    height: 80vh;

    justify-content: space-between;
  }

  .home__context {
    padding-left: 2.4rem;
    animation: slideInLeftTwo 1s ease-in-out forwards;

    display: flex;
    flex-direction: column;

    @media (min-width: 480px) {
      padding: 0 0 0 3.8rem;
    }

    @media (min-width: 768px) {
      padding: 0 0 0 6rem;
    }

    .home__heading {
      color: $color-heading;
      font-size: 4.8rem;
      font-weight: 700;
      margin-bottom: 2rem;
      position: relative;
      z-index: 1;

      @media (min-width: 768px) {
        font-size: 6rem;
        font-weight: 900;
      }

      @media (min-width: 992px) {
        font-size: 9.4rem;
        font-weight: 900;
      }
    }

    .home__btn {
      width: fit-content;
      background-color: transparent;
      border: 2px solid $color-border;
      border-radius: 1rem;
      color: $color-border;
      padding: 0;
      transition: background-color 0.7s ease-in-out;

      position: relative;
      z-index: 1;

      &:hover {
        background-color: $color-border;
        color: $color-background;
      }

      a {
        cursor: pointer;
        font-weight: bold;
        font-size: 1.4rem;
        display: inline-block;
        padding: 10px 25px;
        text-decoration: none;
      }
    }
  }

  .home__img-container {
    animation: slideInRightTwo 1s ease-in-out forwards;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .home__img {
      display: none;

      @media (min-width: 480px) {
        max-width: 150px;
        margin-right: 1.2rem;

        display: flex;
        justify-content: flex-end;
      }

      @media (min-width: 768px) {
        max-width: 200px;
      }

      @media (min-width: 1440px) {
        max-width: 300px;
      }
    }
  }
}