.message {
   width: 70%;
   height: 20%;

   background-color: $color-border;
   border-radius: 1rem;
   padding: 0 2.4rem;

   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 2;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;

   @media (min-width: 992px) {
      width: 50%;
      height: 30%;
   }

   .message__text {
      margin-bottom: 0.5rem;

      @media (min-width: 768px) {
         font-size: 2.1rem;
      }

      @media (min-width: 992px) {
         margin-bottom: 1rem;
         font-size: 1.8rem;
      }
   }

   .message__btn {
      background-color: transparent;
      border: none;

      .fa-long-arrow-alt-left {
         color: #717cb4;

         @media (min-width: 768px) {
            font-size: 2.1rem;
         }

         @media (min-width: 992px) {
            font-size: 1.8rem;
         }
      }

      .message__btn-hide {
         text-decoration: underline;

         @media (min-width: 768px) {
            font-size: 2.1rem;
         }

         @media (min-width: 992px) {
            font-size: 1.8rem;
         }
      }
   }
}