.about__skills {
  animation: slideInRightOne 0.8s ease-in-out forwards;
  margin: 4rem 0;
  padding: 2.4rem;

  @media (min-width: 480px) {
    padding: 0 4.8rem;
  }

  @media (min-width: 768px) {
    padding: 0 8rem;
  }

  @media (min-width: 992px) {
    width: 50%;
    height: 90%;

    margin: 0;
    padding: 0 0 0 2.4rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .skills__container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .skills__heading {
      color: #89ddff;
      font-size: 3.6rem;
      margin-bottom: 2.4rem;

      @media (min-width: 768px) {
        font-size: 5rem;
      }

      @media (min-width: 992px) {
        width: 80%;

        font-size: 4rem;
        font-weight: 900;
        line-height: 1.5;
        margin-bottom: 1rem;
      }
    }

    .skills__section {
      width: 100%;
      @media (min-width: 1200px) {
        width: 90%;
      }

      .skills__paragraphs {
        color: #717cb4;
        margin-bottom: 1rem;
        line-height: 1.4;

        @media (min-width: 480px) {
          font-size: 1.8rem;
        }

        @media (min-width: 768px) {
          font-size: 2.1rem;
          line-height: 1.5;
        }

        @media (min-width: 992px) {
          width: 95%;
          font-size: 1.8rem;
          margin-bottom: 2.4rem;
        }
      }

      .skills__logos-wrapper {
        margin: 1.2rem 0;
        text-align: center;

        @media (min-width: 1200px) {
          text-align: unset;
          display: flex;
          justify-content: space-evenly;
        }

        .icon-html {
          color: rgb(220, 74, 37);

          @media (min-width: 1280px) {
            &:hover {
              color: rgb(220, 74, 37);
            }
          }
        }

        .icon-css {
          color: rgb(37, 75, 221);

          @media (min-width: 1080px) {
            &:hover {
              color: rgb(37, 75, 221);
            }
          }
        }

        .icon-sass {
          color: rgb(201, 97, 149);

          @media (min-width: 1280px) {
            &:hover {
              color: rgb(201, 97, 149);
            }
          }
        }

        .icon-js {
          color: rgb(239, 216, 31);

          @media (min-width: 1280px) {
            &:hover {
              color: rgb(239, 216, 31);
            }
          }
        }

        .icon-ts {
          color: rgb(39, 118, 198);

          @media (min-width: 1280px) {
            &:hover {
              color: rgb(39, 118, 198);
            }
          }
        }

        .icon-react {
          color: rgb(94, 212, 243);

          @media (min-width: 1280px) {
            &:hover {
              color: rgb(94, 212, 243);
            }
          }
        }

        .icon-redux {
          color: rgb(114, 71, 182);

          @media (min-width: 1280px) {
            &:hover {
              color: rgb(114, 71, 182);
            }
          }
        }

        .icon-node {
          color: rgb(97, 179, 73);

          @media (min-width: 1280px) {
            &:hover {
              color: rgb(97, 179, 73);
            }
          }
        }

        .icon-mysql {
          color: rgb(68, 121, 161);

          @media (min-width: 1280px) {
            &:hover {
              color: rgb(68, 121, 161);
            }
          }
        }

        .icon-nest {
          color: rgb(234, 40, 69);

          @media (min-width: 1280px) {
            &:hover {
              color: rgb(234, 40, 69);
            }
          }
        }

        .icon-mongo {
          color: rgb(41, 146, 79);

          @media (min-width: 1280px) {
            &:hover {
              color: rgb(41, 146, 79);
            }
          }
        }

        .skills-icon {
          width: 3rem;
          height: 3rem;
          margin: 1rem;

          @media (min-width: 1200px) {
            color: rgb(104, 104, 104);
            margin: 1rem 0;
          }
        }
      }
    }
  }
}
