// $color-background: rgb(15, 18, 27);
// $color-border: rgb(137, 221, 254);
// $color-heading: rgb(113, 124, 180);

$color-background: rgb(18, 35, 46);
$color-heading: rgb(238, 251, 251);
$color-border: rgb(77, 168, 218);

// $color-background: rgb(238, 251, 251);
// $color-heading: rgb(16, 19, 87);
// $color-border: rgb(89, 206, 143);