$color-background: rgb(22, 57, 86);
$color-darkBlue: rgb(2, 46, 77);
$color-lightBlue: rgb(140, 167, 206);
$color-orange: rgb(241, 163, 120);
$color-salmon: rgb(240, 123, 97);
$color-white: rgb(255, 255, 255);
$color-darkWhite: rgb(235, 234, 226);
$color-green: rgb(9, 113, 104);
$color-red: rgb(250, 72, 46);

$color-main: rgb(251, 216, 41);
